html{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.navbar{
    text-align: center;
    background-color: azure;
    color: darkblue;
    margin: 2% 1%;
    text-decoration: wavy;
    font-size:xx-large;
}
.container{
    display:flex;
}
.wrapper{
    /* display: flex; */
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:midnightblue;
    padding: 3%;
}

.current-weather{
    text-align: center;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

h2{
    text-align: center;
}

card{
    padding: 1% 2%;
    border: solid;
    padding: 2%;
}

card h3{
    text-align: center;
}

.forecast{
    display: flex;
    margin: 1% 9%;
    align-items: center;
    justify-content: center;
    background-color: slategray;
}

.city-search{
    margin: 3%;
    text-align: center;
    padding: 2%;
}

.city-search button{
    margin: 4%;
}



