html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
}

.navbar{
    text-align: center;
    background-color: azure;
    color: darkblue;
    margin: 0;
    text-decoration: wavy;
    font-size:xx-large;
}
.container{
    display:flex;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-weather{
    text-align: center;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

.forecast{
    display: flex;
    margin: 3% 8%;
}

.city-search{
    margin-left: 3%;
}

